mixin MainMenuBox(svgTag, svgClassTag, svgAttr, title, desc, href)
  li(class="item-box mdc-list-item")
    a(href=href)
      .mdc-list-item__graphic
        svg(class=svgClassTag viewBox="0 0 40 40" preserveAspectRatio="xMidYMid meet")
          #{svgTag}()&attributes(svgAttr)
      .mdc-list-item__text
        = title
        .mdc-list-item__secondary-text= desc

mixin NSProjectCard(title, desc, githubHref, gitbookHref) 
  .mdc-card
    .card-instructions
      .title= title
      .desc= desc

    .mdc-card__actions
      .mdc-card__actions-buttons
        button(class="mdc-button ")
          i(class="mdc-button__icon fab fa-github")
          | GitHub
        button(class="mdc-button ")
          i(class="mdc-button__icon fas fa-book icon-italic")
          | GitBook

mixin SideMenuItem(svgShape, svgAttr, txt, hrefCont)
  -
   let classStr = '';
   if(contentTag == txt.replace(/[^\w]/g, '').toLowerCase()) {
       classStr = ' mdc-list-item--activated'
   }

  li(class="menu-item mdc-list-item" + classStr)
    a(href=hrefCont)
      .item-icon(class="mdc-list-item__graphic")
        svg(class="polygon" viewBox="0 0 44 42" preserveAspectRatio="xMidYMid meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
          #{svgShape}()&attributes(svgAttr)

      .item-text(class="mdc-list-item__text")= txt

mixin MiscellaneousItem(title, desc, hrefUrl)
  .mdc-layout-grid__cell--span-6
    a(href=hrefUrl)
      .mdc-card(class="mdc-card--outlined cursor-pointer")
        .card-instructions
          .title= title
          .desc= desc
    
    


